<div id="contentsDetail">
  <!-- ❷ 검색어 영역  -->
    <div id="searchArea">
      <input type="text" name="search" id="search" value="{{search}}" placeholder="검색어를 입력하세요." />
      <a onclick="location.href=`/board?search=${document.getElementById('search').value}`" id="searchBtn">검색</a>
    </div>
    <!-- ❸ 글쓰기 페이지 이동 링크  -->
    <div id="writeBtn">
      <a href="/write"> 글쓰기</a>
    </div>
  <!-- ❹ 리스트 테이블  -->
  <div class="boardArea">
    <table>
      <thead>
        <tr>
          <th width="50%">제목</th>
          <th>작성자</th>
          <th>조회수</th>
          <th>등록일</th>
        </tr>
      </thead>
      <tbody>
        {{#each posts}}
        <tr>
          <td><a href="/detail/{{_id}}">{{title}}</a></td>
          <td>{{writer}}</td>
          <td>{{hits}}</td>
          <td>{{dateString createdDt}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <!-- ❺ 페이징 영역  -->
  <div class="pageArea">
    {{#with paginator}}
    <a href="/board?page=1&search={{@root.search}}">&lt;&lt;</a>
    {{#if hasPrev}}
    <a href="/board?page={{prevPage}}&search={{@root.search}}">&lt;</a>
    {{else}}
    <a>&lt;</a>
    {{/if}}
    {{#each pageList}}
    {{#if (eq . @root.paginator.page)}}
    <a>{{.}}</a>
    {{else}}
    <a href="/board?page={{.}}&search={{@root.search}}">{{.}}</a>
    {{/if}}
    {{/each}}
    {{#if hasNext}}
    <a href="/board?page={{nextPage}}&search={{@root.search}}">&gt;</a>
    {{else}}
    <a>&gt;</a>
    {{/if}}
    <a href="/board?page={{lastPage}}&search={{@root.search}}">&gt;&gt;</a>
    {{/with}}
  </div>
</div>