<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.12.3.js"></script>

</head>
<body>
    <div id="wrap">
        <header id="header" class="clear-fix">
            <h1 class="logo"><a href="/"><img src="images/footerLogo.png" alt="just쇼핑몰"></a></h1>
            <nav class="gnb">
                <ul class="mainMenu">
                    <li><a href="#" class="on">탑</a>
                        <ul>
                            <li><a href="#">블라우스</a></li>
                            <li><a href="#">티</a></li>
                            <li><a href="#">셔츠</a></li>
                            <li><a href="#">니트</a></li>
                        </ul>
                    </li>
                    <li><a href="#">팬츠</a>
                        <ul>
                            <li><a href="#">청바지</a></li>
                            <li><a href="#">티바지</a></li>
                            <li><a href="#">긴바지</a></li>
                            <li><a href="#">반바지</a></li>
                        </ul>
                    </li>
                    <li><a href="#">도구</a>
                        <ul>
                            <li><a href="#">블라우스</a></li>
                            <li><a href="#">티</a></li>
                            <li><a href="#">셔츠</a></li>
                            <li><a href="#">니트</a></li>
                        </ul>
                    </li>
                    <li><a href="#">악세사리</a>
                        <ul>
                            <li><a href="#">귀고리</a></li>
                            <li><a href="#">목걸이</a></li>
                            <li><a href="#">반지</a></li>
                            <li><a href="#">팔찌</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <section id="slide">
            <h2 class="blind">just쇼핑몰</h2>
            <ul class="clear-fix">
                <li><img src="images/slide1.png" id="slider" alt="dsjgklakdg"></li>
                <li><img src="images/slide2.png" id="slider" alt="2424er"></li>
                <li><img src="images/slide3.png" id="slider" alt="4ed3tv"></li>
            </ul>
        </section>
        <div>
          <!-- ❷ 검색어 영역  -->
            <div id="searchArea">
              <input type="text" name="search" id="search" value="{{search}}" placeholder="검색어를 입력하세요." />
              <a onclick="location.href=`/board?search=${document.getElementById('search').value}`" id="searchBtn">검색</a>
            </div>
            <!-- ❸ 글쓰기 페이지 이동 링크  -->
            <div id="writeBtn">
              <a href="/write"> 글쓰기</a>
            </div>
          <!-- ❹ 리스트 테이블  -->
          <div>
            <table>
              <thead>
                <tr>
                  <th width="50%">제목</th>
                  <th>작성자</th>
                  <th>조회수</th>
                  <th>등록일</th>
                </tr>
              </thead>
              <tbody>
                {{#each posts}}
                <tr>
                  <td><a href="/detail/{{_id}}">{{title}}</a></td>
                  <td>{{writer}}</td>
                  <td>{{hits}}</td>
                  <td>{{dateString createdDt}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <!-- ❺ 페이징 영역  -->
          <div>
            {{#with paginator}}
            <a href="/board?page=1&search={{@root.search}}">&lt;&lt;</a>
            {{#if hasPrev}}
            <a href="/board?page={{prevPage}}&search={{@root.search}}">&lt;</a>
            {{else}}
            <a>&lt;</a>
            {{/if}}
            {{#each pageList}}
            {{#if (eq . @root.paginator.page)}}
            <a>{{.}}</a>
            {{else}}
            <a href="/board?page={{.}}&search={{@root.search}}">{{.}}</a>
            {{/if}}
            {{/each}}
            {{#if hasNext}}
            <a href="/board?page={{nextPage}}&search={{@root.search}}">&gt;</a>
            {{else}}
            <a>&gt;</a>
            {{/if}}
            <a href="/board?page={{lastPage}}&search={{@root.search}}">&gt;&gt;</a>
            {{/with}}
          </div>
        </div>
    </div>
    <script src="js/scripts.js"></script>
  </body>
</html>